<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" verbose="1" name="AtlasFrontendIntegration-suite"
	annotations="JDK" parallel="methods">

  <!--base defaults which i'll be passing to my test methods-->
  <parameter name="username" value="atlas"/>
  <parameter name="passwd" value="admin"/>

  <!--view names that return from LinkController methods-->
  <parameter name="getCurrentVersion" value="currentVersion"/>

  <test name="integration-tests">
    <packages>
      <package name="com.atlasck.domain"/>
    </packages>
  </test>

</suite>